.*.sw[o-z]
*.aux
*.blg
*.out
*.log
*.synctex.gz
*.bbl
paper.pdf
.DS_Store
build

thesis/*
!thesis/*.bib
!thesis/*.sty
!thesis/*.cls
!thesis/bib
!thesis/common
!thesis/packages
!thesis/figures
!thesis/include
!thesis/tumcommon